@using LMS.Shared.DTOs.EntityDto
@inject NavigationManager NavigationManager


<div class="container mt-4">

	<div class="card shadow-sm card-hover">
		<div class="card-body">

			<h5 class="card-title">
				@Course.Name
			</h5>
			<h6 class="card-subtitle mb-2 text-muted">Course ID: @Course.Id</h6>
			<p class="card-text">
				@Course.Description
			</p>
			<ul class="list-group list-group-flush mt-3">
				<li class="list-group-item">
					<strong>Start Date:</strong> @Course.StartDate.ToString("MMMM dd, yyyy")
				</li>
				<li class="list-group-item">
					<strong>End Date:</strong> @Course.EndDate.ToString("MMMM dd, yyyy")
				</li>
			</ul>
		</div>
		<a href="courses/@Course.Id" class="stretched-link"></a>
	</div>

</div>

@code {
	
	[Parameter]
	public CourseDto Course { get; set; }


}
