@using LMS.Shared.DTOs.EntityDto
<div class="container mt-4">

	<div class="card shadow-sm card-hover">
		<div class="card-body">
			<h5 class="card-title">
				@Module.Name
			</h5>
			<h6 class="card-subtitle mb-2 text-muted">Course ID: @Module.Id</h6>
			<p class="card-text">
				@Module.Description
			</p>
			<ul class="list-group list-group-flush mt-3">
				<li class="list-group-item">
					<strong>Start Date:</strong> @Module.StartDate.ToString("MMMM dd, yyyy")
				</li>
				<li class="list-group-item">
					<strong>End Date:</strong> @Module.EndDate.ToString("MMMM dd, yyyy")
				</li>
			</ul>
		</div>
		<a href="modules/@Module.Id" class="stretched-link"></a>

	</div>
	<button @onclick="StartEditing">Edit</button>

</div>

@code {

	[Parameter]
	public ModuleDto Module { get; set; }
	[Parameter]
	public EventCallback<Guid> OnMessageSent { get; set; }




    private async Task StartEditing()
    {
        await OnMessageSent.InvokeAsync(Module.Id);
    }
}